@import '../../variables.css';

.theme-switch {
  position: fixed;
  top: 20px;
  right: 90px; /* Ao lado do LanguageSwitcher */

  width: 60px;
  height: 30px;

  border-radius: 20px;
  border: 1px solid var(--border-card);

  background: var(--bg-card);
  backdrop-filter: blur(6px);

  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 3px;

  transition: all var(--transition-normal);

  z-index: 1001;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .theme-switch {
    top: 15px;
    right: 75px;
    width: 54px;
    height: 28px;
  }
  
  .theme-slider.light {
    transform: translateX(26px);
  }
}

.theme-switch:hover {
  transform: scale(1.05);
  border-color: var(--accent-color);
}

.theme-slider {
  width: 24px;
  height: 24px;

  background: var(--accent-color);

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease;
}

.theme-slider.dark {
  transform: translateX(0px);
}

.theme-slider.light {
  transform: translateX(30px);
}

.theme-icon {
  font-size: 14px;
  line-height: 1;
}
